@font-face {
    font-family: 'Bruno Ace SC';
    src: url('../Fonts/Bruno_Ace_SC.woff2');
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
}
@font-face {
    font-family: 'MADE Outer Sans';
    src: url('../Fonts/MADE\ Outer\ Sans.woff2');
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
}

:root {
    --font-family-main: 'MADE Outer Sans','Segoe UI', arial;
    --font-family-logo: 'Bruno Ace SC', impact, sans-serif;
    --color-black: #000;
    --color-white: #fff;
    --color-yellow: #faff00;
    --font-size-logo:  3rem;
    --font-size-hero-heading: 5rem;
    --font-size-heading: 3.5rem;
    --font-size-subheading: 2.25rem;
    --font-size-text: 1.75rem;
    --large-button-height: 52px;
    --socials-button-height:40px;
    --small-button-height:30px;
}
html {
    font-size: 8px;
}
body {
    font-family: var(--font-family-main);
    background-color: var(--color-black);
    color: var(--color-white);
    font-size: var(--font-size-text);

}


.unvisible {
    width: 0px !important;
    overflow: hidden;
    opacity: 0;
}
.removed {
    display: none;
}

.header {
    display: flex;
    justify-content: space-between;
    margin: 55px 55px 0px 55px;
    box-sizing: border-box;
}
.logo {
    font-size: var(--font-size-logo);
    color: var(--color-white);
    text-decoration: none;
    font-family: 'Bruno Ace SC';
    text-transform: uppercase;
}
.logo span {
    color: var(--color-yellow);
}
.navigation {
    position: absolute;
    top: 0;
    right: 0;
    background-color: var(--color-black);
    width: 100%;
    height: 100dvh;
    padding: 55px 55px 0px 55px;
    font-size:var(--font-size-subheading);
    box-sizing: border-box;
    transition: 0.5s ease;
}
.list-item {
    width: 70%;
    height: 50px;
}
.list-item a {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    color: var(--color-white);
    text-decoration: none;
    z-index: 1;
}
.burger {
    z-index: 2;
    height: 35px;
    aspect-ratio: 1/1;
    background-color: transparent;
    padding: 4px;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.burger span {
    width: 100%;
    height: 3px;
    border-radius: 2px;
    background-color: var(--color-white);
}