@font-face {
    font-family: 'Bruno Ace SC';
    src: url('../Fonts/Bruno_Ace_SC.woff2');
    font-style: normal;
    font-weight: normal;
    font-display: swap;
}
@font-face {
    font-family: 'MADE Outer Sans';
    src: url('../Fonts/MADE\ Outer\ Sans.woff2');
    font-style: normal;
    font-weight: normal;
    font-display: swap;
}

:root {
    --font-family-main: 'MADE Outer Sans','Segoe UI', arial;
    --font-family-logo: 'Bruno Ace SC', impact, sans-serif;
    --color-black: #000;
    --color-white: #fff;
    --color-yellow: #faff00;
    --color-gray: #222;
    --font-size-logo:  3rem;
    --font-size-price: 3rem;
    --font-size-hero-heading: 5rem;
    --font-size-heading: 3.5rem;
    --font-size-subheading: 2.25rem;
    --font-size-text: 1.75rem;
    --font-size-menu: 1.5rem;
    --large-button-height: 52px;
    --socials-button-height:40px;
    --small-button-height:30px;
}
html {
    font-size: 8px;
}
body {
    font-family: var(--font-family-main);
    background-color: var(--color-black);
    color: var(--color-white);
    font-size: var(--font-size-text);

}



.unvisible {
    width: 0px !important;
    overflow: hidden;
    opacity: 0;
}
.removed {
    display: none !important;
    position: static !important;
}
.noscroll {
    overflow: hidden;
}

.header {
    display: flex;
    justify-content: space-between;
    padding-top: 70px;
    padding-inline: 55px;
    box-sizing: border-box;
    position: absolute ;
    width: 100%;
    top: 0;
}
.logo,.footer-logo {
    font-size: var(--font-size-logo);
    color: var(--color-white);
    text-decoration: none;
    font-family: var(--font-family-logo);
    text-transform: uppercase;
    transition: 0.2s ease;
}
.footer-logo {
    width: fit-content;
}
.logo span, .footer-logo span {
    color: var(--color-yellow);
}
.navigation {
    position: absolute;
    top: 0;
    right: 0;
    background-color: var(--color-black);
    width: 100%;
    height: 100dvh;
    padding: 55px 55px 0px 55px;
    font-size:var(--font-size-subheading);
    box-sizing: border-box;
    transition: 0.5s ease;
}
.list-item {
    width: 70%;
    height: 50px;
}
.list-item a {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    color: var(--color-white);
    text-decoration: none;
    z-index: 1;
}
.burger {
    z-index: 2;
    height: 35px;
    aspect-ratio: 1/1;
    background-color: transparent;
    padding: 4px;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.burger span {
    width: 100%;
    height: 3px;
    border-radius: 2px;
    background-color: var(--color-white);
}
.hero {
    width: 100%;
    max-height: 790px;
    background-image:
     linear-gradient(60deg,rgb(0, 0, 0) 35%, rgba(0, 0, 0, 0.79) 61%, rgba(0, 0, 0, 0.081) 100%),
     url(../Images/hero-bg.jpg);
     background-position: 
     right  center;
     background-size: clamp(300px, 70%, 400px);
     background-repeat: no-repeat;
     background-clip: border-box;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     gap: 100px;
     padding-inline: 55px;
     padding-top: 70px;

}
.hero-heading {
    margin-top: 105px;
    flex-grow: 0;
    font-size: var(--font-size-hero-heading);
    font-weight: 600;
    text-align: center;
}.hero-button {
    min-height: var(--large-button-height);
    width: 175px;
    background-color: var(--color-yellow);
    color: var(--color-black);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    text-decoration: none;
    font-weight: 600;
    transition: 0.2s ease;
}
.advantages{
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    padding-inline: 55px;
    align-items: center;
    gap:70px;
}
.section-heading {
    font-size: var(--font-size-heading);
    text-align: center;
}
.all-advantages{
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.adv-container{
    display: flex;
    justify-content: space-between;
    gap: 5px;
}
.svg-container {
    flex-shrink: 0;
    width: 60px;
    display: flex;
    justify-content: center;
}
.desc-heading {
    font-size: var(--font-size-subheading) ;
    font-weight: 600;
}
.desc-text {
    max-width: 430px;
}
.membership {
    padding-inline: 55px !important;
    margin-top: 200px;
}
.plan-container,.trainer-container {
    margin-top: 70px;
}
.plan, .trainer {
    background-color: var(--color-gray);
    border-radius: 10px;
    width: 275px !important;
    height: 420px  !important;
    display: flex !important;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    overflow: hidden;
    border: 2px solid transparent;
    box-sizing: content-box !important;
}
.plan-heading-container {
    width: 100%;
}
.plan-heading {
    font-size: var(--font-size-subheading);
    margin-top: 22px;
    text-align: center;
    font-weight: 700;
}
.price {
    font-size: var(--font-size-price);
    text-align: center;
    font-weight: 700;
    padding-block: 10px;
    border-bottom: 1px solid black;
    width: 100%;
}
.features {
    margin-top: 30px;
    gap: 10px;
    padding-left: 25px;
    padding-right: 10px;
    display: flex !important;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: auto;
}
.feature-container {
    display: flex;
    gap: 12px;
    align-items: center;
}
.feature-container svg {
    flex-shrink: 0;
}
.plan-button {
    min-height: var(--small-button-height);
    border-radius: 30px;
    width: 110px;
    border: none;
    background-color: var(--color-yellow);
    margin-block: auto 40px;
}
.about-us {
    margin-block: 200px;
}
.about-us-desc {
    margin-top: 50px;
    margin-bottom: 60px;
    padding-inline: 55px;
    box-sizing: content-box;
    text-align: center;
    max-width: 475px;
    margin-inline: auto;
}
.desc-2, .desc-3 {
    margin-top: 25px;
}
.desc-2 {
    display: none;
}
.controls-container {
    display: none;
}

.slider-img {
    border-radius: 10px;
    width: 70% !important;
}
.swiper-pagination-bullet {
    width: 40px !important;
    height: 3px !important;
    border-radius: 0 !important;
    background-color: var(--color-white) !important;
    opacity: 1 !important;
}
.swiper-pagination-bullet-active {
    background-color: var(--color-yellow) !important;
}
.controls {
    display: flex;
    gap: 10px;
    flex-basis: 100px;
}
.controls button {
    flex-basis: 40px;
    aspect-ratio: 1/1;
    border:none;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-white);
}
.controls button svg {
    transform: scale(1.5);
}
.trainers {
    margin-bottom: 250px;
}
.trainer {
    border-radius: 20px;
    border: none;
}
.trainer-img-container {
    margin: 20px;
    border-radius: 15px;
    overflow: hidden;
}
.trainer-name {
    font-size: var(--font-size-subheading);
    margin-bottom: 20px;
}
.socials {
    display: flex;
    gap: 15px;
    margin-bottom: 30px;
}
.social-icons {
    width: 40px;
    aspect-ratio: 1/1;
    border: 2px solid var(--color-white);
    border-radius: 50%;
 
}
.social {
    width: 100%;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-white);
}
.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 70px;
}
.footer-desc {
    display: none;
}
.address {
    margin-bottom: 50px;
}
.address, .contacts {
    width: 200px;
}
.footer-heading{
    margin-bottom: 30px;
    font-size: var(--font-size-subheading);
    margin-inline: auto;
    width: min-content;
}
.address-text {
    font-style: normal;
    text-align: center;
}
.contacts-container{
 display: flex;
 justify-content: center;
 gap: 15px;
}
.contacts-container a {
    text-decoration: none;
    color: var(--color-white);
}
.soc-list {
    display: flex;
    gap: 25px;
    justify-content: center;
    margin-top: 30px;
    height: 40px;
}
.footer-logo {
    margin-bottom: 25px;
    font-size: var(--font-size-price);
}
.contacts {
        width: fit-content;
    }
.plan, .plan *, .social-icons, .social-icons *, .contacts-container * {
    transition: 0.2s ease !important;
}
.modal {
    position: fixed;
    inset: 0;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100dvw;
    height: 100dvh;
    background-color: var(--color-white);
    opacity: 0.7;
}
.modal-content {
    position: relative;
    z-index: 3;
    width: 70%;
    padding: 50px;
    border-radius: 20px;
    border: 4px solid var(--color-yellow);
    max-width: 600px;
    background-color: var(--color-black);
}
.close {
    position: absolute;
    top: 20px;
    right: 20px;
    height: 40px;
    aspect-ratio: 1/1;
    font-size: 3rem;
    display: flex;
    justify-content: center;align-items: center;
    color: var(--color-yellow);
    background-color: transparent;
    border: none;
}
#modal-title {
    font-size: var(--font-size-price);
    margin-bottom: 30px;
}
.modal-desc {
    max-width: 280px;
}
.modal-number {
    font-style: normal;
    text-decoration: none;
    color: var(--color-yellow);
    transition: 0.2s ease;
}
.modal-form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}
#phone {
    border-radius: 20px;
    background-color: var(--color-gray);
    border: 2px solid var(--color-white);
    padding: 5px;
    margin-right: 20px;
    color: var(--color-white);
}
.modal-form button {
    border: 2px solid transparent;
    background-color: var(--color-yellow);
    border-radius: 20px;
    padding: 5px;
    width: 80px;
    transition: 0.2s ease;
}
label {
    margin-bottom: 10px;
}
    /*

    Add hover effects

    */
@media(hover: hover) {
    .list-item a:hover, .contacts-container:hover,.contacts-container a:hover, .controls button:hover {
        color: var(--color-yellow);
    }
     .logo:hover, .footer-logo:hover, .plan-button:hover
      {
        transform: scale(1.2);
    }
    .plan:hover {
        border: 2px solid var(--color-yellow);
        .plan-heading-container {
            background-color: var(--color-yellow);
            color: var(--color-black);

        }
    }
    .social-icons:hover {
        border-color: var(--color-yellow);
        .social{
            color: var(--color-yellow) !important;
        }
    }
    .modal-form button:hover, .hero-button:hover {
        border: 2px solid var(--color-yellow);
        background-color: var(--color-black);
        color: var(--color-yellow);
    }
    .modal-number:hover {
        font-size: var(--font-size-subheading);
    }
}

    /*

    Add focus effects for touchscreens

    */
@media(hover: none) {
    .list-item a:active, .contacts-container:active,.contacts-container a:active, .controls button:active {
        color: var(--color-yellow);
    }
     .logo:active, .footer-logo:active, .plan-button:active
      {
        transform: scale(1.2);
    }
    .plan:active {
        border: 2px solid var(--color-yellow);
        .plan-heading-container {
            background-color: var(--color-yellow);
            color: var(--color-black);

        }
    }
    .social-icons:active {
        border-color: var(--color-yellow);
        .social{
            color: var(--color-yellow) !important;
        }
    }
    .modal-form button:active, .hero-button:active {
        border: 2px solid var(--color-yellow);
        background-color: var(--color-black);
        color: var(--color-yellow);
    }
    .modal-number:active {
        font-size: var(--font-size-subheading);
    }
}





@media(min-width: 393px){
    .desc-2 {
        display: block;
    }
    
}
    
@media(min-width: 744px) {
    :root {
        --font-size-hero-heading: 8rem;
        --font-size-heading:6rem;
    }
    .header {
        padding-top: 0;
        padding-inline: 20px;
        height: 64px;
    }
    .logo {
        height: 64px;
        display: flex;
        align-items: center;
    }
    .burger {
        display: none;
    }
    .navigation {
        display: flex !important;
        width: auto !important;
        opacity: 1;
        position: static;
        background-color: transparent;
        padding: 0;
        height: 64px;
    }
    .nav-list {
        display: flex;
        flex-direction: row;
        gap: 65px;
        font-size: var(--font-size-menu);
        height: 64px;
    }
    .list-item {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .list-item a {
        padding: 5px;
        height: 30px;
        transition: 0.2s ease;
    }
    .hero {
        padding-inline: 20px;
        background-image:
        linear-gradient(90deg,rgb(0, 0, 0) 15%, rgba(0, 0, 0, 0.305) 41%, rgba(0, 0, 0, 0.081) 100%),
        linear-gradient(0deg,rgba(0, 0, 0, 0.822) 5%, rgba(0, 0, 0, 0) 51%, rgba(0, 0, 0, 0.081) 100%),
        url(../Images/hero-bg.jpg);
        background-size: clamp(300px, 75%, 750px);
        background-position: right top;
        gap: 60px;
        justify-content: start;
        align-items: start;
        height: 70vw;
        
    }
    .hero-heading {
        text-align: left;
        margin-top: 200px;
        max-width: 670px;
    }
    .advantages {
        padding-right: 80px;
        padding-left: 95px;
    }
    .all-advantages {
        width: 100%;
    }
    .adv-container {
        justify-content: start;
        gap: 30px;
    }
    .plan-container {
        flex-wrap: wrap;
        gap: 35px;
        justify-content: center;
    }
    .footer {
        flex-direction: row;
        justify-content: space-between;
        margin-inline: 85px;

    }
    .footer-heading {
        margin-inline: 0;
    }
    .contacts {
        display: flex;
        flex-direction: column;
        justify-content: start;
    }
    .address-text {
        text-align: left;
    }
    
}
@media(min-width: 1000px) {
    :root {
        --font-size-text: 16px;
        --font-size-menu: 16px;
        --font-size-logo: 4rem;
    }
    .advantages {
        padding-inline: 30px;
    }
    .all-advantages {
        flex-direction: row;
        flex-wrap: wrap;
        column-gap: 5px;
    }
    .adv-container{
        flex-basis: 49%;
        gap: 15px;
    }
    .last {
        justify-content: end;
    }
    body {
        max-width: 1200px;
        margin-inline: auto;
    }
    .header {
        padding-inline: 30px;
        max-width: 1200px;
    }
    .hero {
        padding-inline: 30px;
        background-image:
        linear-gradient(90deg,rgb(0, 0, 0) 15%, rgba(0, 0, 0, 0) 51%, rgba(0, 0, 0, 0) 71%, rgba(0, 0, 0, 0.927) 100%),
        linear-gradient(0deg,rgba(0, 0, 0, 0.822) 5%, rgba(0, 0, 0, 0) 51%, rgba(0, 0, 0, 0.081) 100%),
        url(../Images/hero-bg.jpg);
    }
    .membership {
        padding-inline: 30px !important;
    }
    .plan {
        height: 470px !important;
        width: 290px !important;
    }
    .plan-container {
        gap: 55px;
    }
    .controls-container {
        display: flex;
    }
    .about-us{
        max-height: 600px;
        display: flex;
        flex-direction:column;
        padding-inline: 30px;
        column-gap: 65px;
        width: 100% !important;
    }
    .about-slider {
        align-self: end;
        margin-top: auto;
        max-width: 570px;
    }
    .slider-img {
        width: 100% !important;
    }
    .about-us-desc {
        margin: 0;
        margin-top: 50px;
        padding-inline: 0;
        font-size: 1.75rem;
        min-width: 475px;
        text-align: left;
    }
    .description {
        display: flex;
        gap: 65px;
    }
    .trainers {
        display: flex !important;
        flex-direction: column;
        align-items: center;

    }
    .trainer-container {
        width: 895px !important;
        flex-wrap: wrap;
        gap: 20px;

    }
    .left {
        text-align: left;
    }
    .footer {
        align-items: start;
        margin-inline: 30px;
    }
    .footer-desc {
        display: flex;
        flex-direction: column;
        max-width: 300px;
    }
    
}  